@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 1rem;
	line-height: 1.6;
}

body {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	width: 100%;
	object-fit: cover;
}
