// Essentials
.container {
	max-width: 1000px;
	margin: 0 auto;
}

.block {
	display: block !important;
}

.w-full {
	width: 100%;
}

// Typography
.lead {
	font-size: 1.2rem;
}

.uppercase {
	text-transform: uppercase;
}

.text-sm {
	font-size: 0.8rem;
}

.text-lg {
	font-size: 1.5rem;
}

.text-xlg {
	font-size: 2rem;
}

.text-center {
	text-align: center;
}

// Flex
.flex {
	display: flex;

	&-column {
		flex-direction: column;
	}

	&-wrap {
		flex-wrap: wrap;
	}

	&-align {
		align-items: center;
	}

	&-disperse {
		justify-content: space-between !important;
	}

	&-center {
		justify-content: center;
	}
}

// Grid
.grid {
	display: grid;
	&-4 {
		grid-template-columns: repeat(4, 1fr);

		@media (max-width: 1024px) {
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 900px) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 640px) {
			grid-template-columns: 1fr;
		}
	}
	&-3 {
		grid-template-columns: repeat(3, 1fr);

		@media (max-width: 768px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&-2 {
		grid-template-columns: repeat(2, 1fr);
		@media (max-width: 768px) {
			grid-template-columns: 1fr;
		}
	}
}

// Borders
.border {
	border: 1px solid $light-gray;

	// Colors
	&-green {
		border: 1px solid $green;
	}

	&-light {
		border: 1px solid $light-gray;
	}

	&-dark {
		border: 1px solid $dark-gray;
	}
}

.rounded {
	border-radius: 4px;
}

.rounded-full {
	border-radius: 10rem !important;
}

// Maring, Padding & Gap (Grid)
$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
	.gap-#{$space} {
		gap: #{$space}rem;
	}
	.m-#{$space} {
		margin: #{$space}rem;
	}
	.my-#{$space} {
		margin: #{$space}rem 0;
	}
	.mx-#{$space} {
		margin: 0 #{$space}rem;
	}
	.mt-#{$space} {
		margin-top: #{$space}rem;
	}
	.mb-#{$space} {
		margin-bottom: #{$space}rem;
	}
	.ml-#{$space} {
		margin-left: #{$space}rem;
	}
	.mr-#{$space} {
		margin-right: #{$space}rem;
	}
	.p-#{$space} {
		padding: #{$space}rem;
	}
	.py-#{$space} {
		padding: #{$space}rem 0;
	}
	.px-#{$space} {
		padding: 0 #{$space}rem;
	}
	.pt-#{$space} {
		padding-top: #{$space}rem;
	}
	.pb-#{$space} {
		padding-bottom: #{$space}rem;
	}
	.pl-#{$space} {
		padding-left: #{$space}rem;
	}
	.pr-#{$space} {
		padding-right: #{$space}rem;
	}
}
