<%- include('partials/_header') -%>
<%- include('partials/_navbar'), {google: google} -%>

<section class="header">
    <div class="header__content">
        <div class="logo">
            <h1>Swarga</h1>
        </div>
        <p class="mb-1">Best images for free. Enjoy!</p>
        <form class="header__search">
            <input type="text" class="input w-full py-1" placeholder="Search free high resolution photos">
            <i class="fas fa-search search-icon"></i>
        </form>
    </div>
</section>

<%- include('partials/_footer') -%>
